.leftside, .rightside {
    height: 100vh;
    width: 100%;
}

.leftside {
    font-family: "Epilogue";
    background: white;
    color:  #9CADCE;
}

.rightside {
    font-family: "Epilogue";
    background: #9CADCE;
    color: white;
}

s